*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/AndroidProjectSystem.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/misc.xml
/.idea/migrations.xml
/.idea/gradle.xml
/.idea
.DS_Store
/build

/captures
.externalNativeBuild
.cxx
local.properties
